html,
body {
  margin: 0;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/loading-data/niat_react_js/niat_coding_questions/nxt-trendz-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: -1;
}

#root {
  min-height: 100vh;
}
